<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
	<link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="footer" th:align="center">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>My Awesome App</span>
    </div>
    <div th:fragment="footer-admin" th:align="center">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        <span>My Awesome App </span><span th:text="${@environment.getProperty('app.version')}"></span>
    </div>
</body>
</html>