<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
	<div class="row" th:fragment="pagination">
	   <ul class="pagination ">
		   <li th:class="${page.first} ? 'disabled':''" style="display:inline">
		       <span th:if="${page.first}">首页</span>
		       <a th:if="${not page.first}" th:href="@{${url}(page=0)}">首页</a>
		   </li>
		   <li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}' th:class="(${i}==${page.number})? 'active' : ''" style="display:inline">
		       <span th:if='${i}==${page.number}' th:text='${i+1}'>1</span>
		       <a th:if='${i}!=${page.number}' th:href="@{${url}(page=${i})}">
		           <span th:text='${i+1}'>1</span>
		       </a>
		   </li>
		   <li th:class="${page.last} ? 'disabled':''" style="display:inline">
		        <span th:if="${page.last}">末页</span>
		        <a th:if="${not page.last}" th:href="@{${url}(page=(${page.totalPages}-1))}">末页</a>
		    </li>
		</ul>
	</div>
</body>
</html>